/* Inter Variable Font */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900; /* This range covers all available weights */
    font-display: swap;
    src: url('~/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-variation-settings: 'wght' 400;
}

/* Inter Variable Font - Italic */
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('~/assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-variation-settings: 'wght' 400;
}

/* Apply Inter font to the whole document */
html {
    font-family: 'Inter', sans-serif;
}